hr {
    border-color: rgb(231, 231, 231);
    border-width: 0.9px;
    margin-bottom: -20px;
}

h4 {
    margin-bottom: 10px;
}

.quantity {
    margin-left: 70px;
}

.status-box {
    margin-bottom: -20px;
}

.pending {
    color: red;
}

.approved {
    color: green;
}


.alert-info {
    text-align: center;
}