
<div *ngFor="let product of products">
    
    <app-flip-card 
    [frontHeaderTemplate]="frontHeaderTemplate" 
    [frontTemplate]="frontTemplate"
    [backHeaderTemplate]="backHeaderTemplate" 
    [backTemplate]="backTemplate"
    > 
   </app-flip-card>
    <ng-template #frontHeaderTemplate>  
       <span>
           {{product?.name}}
       </span>
       <button style="float:right" nbButton status="danger" (click)="ngxSmartModalService.getModal('deleteModal').open(); selectId(product?.id)" >Delete</button> 
        <hr>
     </ng-template>
     <ng-template #frontTemplate>  
       <div style="position: relative;">
            <b>Quantity: 
                <nb-badge text="{{product?.quantity}}" *ngIf="product.quantity === 0" class="quantity" status="danger" position="top-left" ></nb-badge>
                <nb-badge text="{{product?.quantity}}" *ngIf="product.quantity > 0" class="quantity" status="primary" position="top-left" ></nb-badge>
            </b>
       </div> 
       <br>
       <div>
           <b>Description:</b> {{product?.description}};
       </div> 
     </ng-template>
     <ng-template #backHeaderTemplate>  
            Comments
            <hr>
    </ng-template>
    <ng-template #backTemplate>  
            {{product?.comments}}
    </ng-template>

</div>

<ngx-smart-modal #deleteModal identifier="deleteModal">
        <h5>Product Deletion</h5>
        <p>Are your sure you want to delete this product?</p>
        <div style="float:right;">
                <button nbButton outline status="danger" (click)="deleteProduct(selectedId)" >Delete</button> 
                &nbsp;
                <button nbButton outline status="info" (click)="deleteModal.close()">Close</button>
        </div>
</ngx-smart-modal>