 <nb-layout>
    <nb-layout-header fixed>
  
        <span>
            <fa-icon [icon]="faList" [size]="'1x'" (click)="toggle()"></fa-icon>
            &nbsp;&nbsp;
            <span>

                <fa-icon [icon]="faDonate" [size]="'2x'" (click)="toggle()"></fa-icon>
                BounceBack Donation Drive 
            </span>
        </span>   
        <nb-user style="cursor:pointer" [nbPopover]="templateRef" nbPopoverPlacement="bottom" size="medium"name="John Doe"title="Admin" color="#cccccc"></nb-user>
   </nb-layout-header>

    <nb-sidebar>
        <app-menu></app-menu>
    </nb-sidebar>

    <nb-layout-column>
        <app-page-title #pageTitle></app-page-title>
        <router-outlet></router-outlet>
    </nb-layout-column>
  </nb-layout>
  <ng-template #templateRef>
      <div style="padding:5px">

          <button  nbButton outline status="info" (click)="logout()">Logout</button>
      </div>
   </ng-template>