 <nb-layout>
    <nb-layout-header fixed>
  
        <span>
        <div class="row">
            <div class="col menu-icon">
                    <fa-icon [icon]="faList" [size]="'1x'" (click)="toggle()"></fa-icon>
            </div>
            <div class="col logo-container">
                    <div class="logo"></div>
            </div>
            <div class="col title-container">

            </div>
        </div>
        </span>   
        <nb-user style="cursor:pointer" [nbPopover]="templateRef" nbPopoverPlacement="bottom" size="medium" [name]="getUser()"  color="#cccccc"></nb-user>
   </nb-layout-header>

    <nb-sidebar>
        <app-menu></app-menu>
    </nb-sidebar>

    <nb-layout-column>
        <app-page-title #pageTitle></app-page-title>
        <router-outlet></router-outlet>
        <ng-template #templateRef>
            <div style="padding:5px">
                <button class="popup-button"  nbButton outline status="primary" (click)="login()">Admin Login</button>
            </div>
            <div style="padding:5px">
      
                <button *ngIf="isLoggedIn" class="popup-button"  nbButton outline status="info" (click)="logout()">Logout</button>
            </div>
         </ng-template>
    </nb-layout-column>
  </nb-layout>