
<div *ngFor="let ticket of donorTickets">
    
        <app-flip-card 
        [frontHeaderTemplate]="frontHeaderTemplate" 
        [frontTemplate]="frontTemplate"
        [backHeaderTemplate]="backHeaderTemplate" 
        [backTemplate]="backTemplate"
        > 
       </app-flip-card>
        <ng-template #frontHeaderTemplate>
            Ticket Number#: {{ticket.id}}  
            <hr>
         </ng-template>
         <ng-template #frontTemplate>  
           <div>
              <h4>Donor Details</h4>
              <b>Name:</b>  {{ticket?.name}}
              <br>
              <b>Contact Person:</b> {{ticket.contacterson}}
              <br>
              <b>Contact Details:</b> {{ticket.contactNumber}}
            
           </div>  
         </ng-template>
         <ng-template #backHeaderTemplate>  
                Products Donated
                <hr>
        </ng-template>
        <ng-template #backTemplate>  
            <br>
            <ng-container *ngFor="let product of ticket.products">
                <b>Product: </b> {{product?.name}}
                <br>
                <div style="position: relative;">
                        <b>Quantity: 
                            <nb-badge text="{{product?.quantity}}" *ngIf="product.quantity > 0" class="quantity" status="primary" position="top-left" ></nb-badge>
                        </b>
                   </div> 
                   <br>
            </ng-container>
        </ng-template>
    </div>
    