
<div *ngFor="let ticket of donorTickets">
    
        <app-flip-card 
        [frontHeaderTemplate]="frontHeaderTemplate" 
        [frontTemplate]="frontTemplate"
        [backHeaderTemplate]="backHeaderTemplate" 
        [backTemplate]="backTemplate"
        > 
       </app-flip-card>
        <ng-template #frontHeaderTemplate>
            Ticket Number#: {{ticket.id}}
            <div><b>Status:</b> <span [ngClass]="ticket.status === 'Pending' ? 'pending': 'approved'"> {{ticket?.status}}</span></div>  
            <hr>
         </ng-template>
         <ng-template #frontTemplate>  
           <div>
              <div class="status-box">
                <button *ngIf="ticket.status === 'Pending'" nbButton outline status="success" (click)="ngxSmartModalService.getModal('approveModal').open(); selectId(ticket?.id)" >Approve</button>
              </div>
              <h4>Donor Details</h4>
              <b>Name:</b>  {{ticket?.name}}
              <br>
              <b>Contact Person:</b> {{ticket.contactPerson}}
              <br>
              <b>Contact Details:</b> {{ticket.contactNumber}}
            
           </div>  
         </ng-template>
         <ng-template #backHeaderTemplate>  
                Products Donated
                <hr>
        </ng-template>
        <ng-template #backTemplate>  
            <br>
            <ng-container *ngFor="let product of ticket.products">
                <b>Product: </b> {{getProductName(product?.id)}}
                <br>
                <div style="position: relative;">
                        <b>Quantity: 
                            <nb-badge text="{{product?.quantity}}" *ngIf="product.quantity > 0" class="quantity" status="primary" position="top-left" ></nb-badge>
                        </b>
                   </div> 
                   <br>
            </ng-container>
        </ng-template>
    </div>
    
    
<ngx-smart-modal #approveModal identifier="approveModal">
        <h5>Approving Donation</h5>
        <p>You are about to approve this donation, Continue?</p>
        <div style="float:right;">
                <button nbButton outline status="success" (click)="approveTicket(ticketId)" >Approve</button> 
                &nbsp;
                <button nbButton outline status="info" (click)="approveModal.close()">Close</button>
        </div>
</ngx-smart-modal>