<app-card 
[headerTemplate]="headerTemplate"
[bodyTemplate]="bodyTemplate"         
></app-card>

<ng-template #headerTemplate>
    Requestor Information
</ng-template>
<form (ngSubmit)="createTicket()" [formGroup]="form">
<ng-template #bodyTemplate>
        <div>
          <div *ngIf="formHasError" class="alert-danger">
            Form has errors
          </div>
          <label for="name">Requestor</label>
          <input formControlName="name" type="text" fullWidth nbInput status="primary" placeholder="Jane Doe"/>
        </div>
        <br/>
        <b>Address and Contact Information</b>
        <br><br>
        <div>
            <label for="contactInformation">Address</label>
            <input formControlName="address" fullWidth nbInput status="primary" placeholder="Pasig City Etc...."/>
        </div>
        <br>
        <div>
          <label for="contactInformation">Contact Person</label>
          <input formControlName="contactPerson" fullWidth nbInput status="primary" placeholder="John Doe"/>
        </div>
        <br/>
        <div>
            <label for="quantity">Contact Number</label>
            <input formControlName="contactNumber" type="text" fullWidth nbInput status="primary" placeholder="+639171111111"/>
        </div>

</ng-template>


<app-card 
[headerTemplate]="headerContactTemplate"
[bodyTemplate]="bodyContactTemplate"         
></app-card>

<ng-template #headerContactTemplate>
    Products to be donated
</ng-template>

<ng-template #bodyContactTemplate>
        <button type="button" nbButton outline status="info" (click)="addProduct()">Add Product</button>
        <div formArrayName="products" *ngFor="let item of getProducts(); let i = index;">
           <div [formGroupName]="i" >
            <div class="row">        
                <div class="col ">
                    
                    <label for="name">Product Name</label>
                    <select formControlName="id">
                            <option *ngFor="let data of products" [value]="data.id">{{data.name}}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="quantity">Quantity</label>
                     <input formControlName="quantity" type="number" nbInput fullWidth status="primary"/>
                 </div>
                 <div class="col">
                
                    <button *ngIf="getProducts().length > 1" style="margin-top: 20px;" nbButton outline status="danger" (click)="removeProduct(i)">Remove Product</button>
                </div>
            </div>
           </div>
        </div>

</ng-template>
<div class="button-container">
        <button type="button" nbButton outline status="primary" (click)="clear()">Clear</button>
        <button type="submit" nbButton outline status="info" (submit)="createTicket()">Submit</button>
</div>
</form>